.parallax {
  text-align: center;
}
.parallax-items {
  width: 80%;
  margin: 0 auto;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parallax-item {
  position: relative;
  width: 350px;
  overflow: hidden;
}
.parallax-item img {
  width: 100%;
  height: 60vh;
}
.parallax button {
  margin: 30px 0 -20px 0;
  background: #dbbcc5;
  border: none;
  padding: 20px 50px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.parallax-items-big {
  padding: 20px 0;
  width: 95%;
  margin: 0 auto;
  height: 103vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.parallax-items-big .parallax-item {
  position: relative;
  width: 330px;
  height: 50vh;
  overflow: hidden;
}
.parallax-items-big .parallax-item .parallax-item img {
  width: 100%;
  height: 50vh;
}
