.parallax {
  text-align: center;
}
.parallax-items {
  width: 80%;
  margin: 0 auto;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parallax-item {
  position: relative;
  width: 350px;
  overflow: hidden;
}
.parallax-item img {
  width: 100%;
  height: 60vh;
}
.parallax.a {
  margin: 40px 0;
}
.parallax.a a {
  text-decoration: none;
  background: #dbbcc5;
  border: none;
  padding: 20px 50px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
}
.parallax-items-big {
  padding: 20px 0;
  width: 95%;
  margin: 0 auto;
  height: 103vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.parallax-items-big .parallax-item {
  position: relative;
  width: 330px;
  height: 50vh;
  overflow: hidden;
}
.parallax-items-big .parallax-item .parallax-item img {
  width: 100%;
  height: 50vh;
}
.parallax-address {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  height: 95vh;
}
.parallax-address .paralaxx-address-box {
  padding: 10px 40px;
  text-align: left;
  border: 1px solid #000;
  border-radius: 10px;
  width: 600px;
  height: 80vh;
  background: #fff;
}
.parallax-address .paralaxx-address-box h3 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 50px;
}
.parallax-address .paralaxx-address-box h5 {
  margin: 10px 0;
  font-weight: 400;
  font-size: 18px;
  color: #343434ed;
}
.parallax-address .paralaxx-address-box div {
  margin: 40px 0;
}
.parallax-address .paralaxx-address-box div p {
  margin: 5px 0;
  color: #676767c2;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}
.parallax-address-social-links {
  display: flex;
  gap: 5px;
  align-items: center;
}
