.why-us {
  padding: 20px 0;
  p {
    width: 96%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    letter-spacing: 1.5px;
    font-size: 17px;
  }
  &__items {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-item {
      width: 27%;
      padding: 5px 10px;
      border: 1px solid #1d6b9037;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        border: 1px solid #1d6c907c;
      }
    }
  }
}
@media (max-width: 800px) {
  .why-us {
    p {
      width: 100%;
      text-align: left;
    }
    &__items {
      display: flex;
      &-item {
        margin: 10px auto;
        width: 90%;
      }
    }
  }
}
